//PAGE LEVEL PROGRESS AWARE/HIDING
	html.guided-learning-mode {

		//HIDE PLP IN GUIDED LEARNING MODE
		.page-level-progress-navigation {
			display:none;
		}
		
	}

//MENU INTRO SCREEN AWARE/BLOCKING
	html.guided-learning-mode {
		.menu-intro-screen {
			display: none !important;
		}
	}


//ASSESSMENT AWARE/FIXES
	//on _assessment._canShowFeedback == false, hide-feedback = hide-marking

	.component-widget.submitted {
		+.buttons.hide-feedback, .buttons.hide-feedback {
			.buttons-cluster {
				.buttons-action {
					display: none !important;
				}
			}
	 	}

	 	//MCQ AWARE
		.mcq-item-state {
			display: none !important;
		}

		//GMCQ AWARE
		.gmcq-item-state {
			display: none !important;
		}
	}
	.component-widget {
		+.buttons.hide-feedback, .buttons.hide-feedback {
			.buttons-action {
				width: 100%;
			}
			.buttons-feedback {
				display: none !important;
			}
			.buttons-marking-icon {
				display: none !important;
			}
		}

	}