//PAGE LEVEL PROGRESS AWARE/HIDING
	html.guided-learning-mode {

		//HIDE PLP IN GUIDED LEARNING MODE
		.page-level-progress-navigation {
			display:none;
		}
		
	}

//MENU INTRO SCREEN AWARE/BLOCKING
	html.guided-learning-mode {
		.menu-intro-screen {
			display: none !important;
		}
	}


//ASSESSMENT AWARE/FIXES
	//on _assessment._canShowFeedback == false, hide-feedback = hide-marking
	.buttons.hide-feedback {
		.buttons-cluster {
			.buttons-marking-icon {
				display: none !important;
			}
		}
	}

	//on submitted and hide-feedback, hide buttons
	.submitted {
		//MCQ
		+.buttons.hide-feedback {
			.buttons-cluster {
				.buttons-action {
					display: none !important;
				}
			}
		}

		//GMCQ
		.buttons.hide-feedback {
			.buttons-cluster {
				.buttons-action {
					display: none !important;
				}
			}
		}
	}