<div class="learnerassistant-navigationView-inner block-inner">
	<a id="learnerassistant-toggle" class="closed">
		<span class="closed icon icon-controls-small-down"></span>
		<span class="open icon icon-controls-small-up"></span>
	</a>
	<div id="learnerassistant-banks">
		{{#with options}}
			{{#each banks }}
				<a href="#" class="bank {{#if _isReviewComplete}}complete{{else}}incomplete{{/if}}" data-type="associatedlearning"><span class="complete icon icon-star"></span><span class="incomplete icon icon-star-hollow"></span></a>
			{{else}}
				<span>-</span>
			{{/each}}
		{{/with}}
	</div>
	<div class="buttongroup {{#if isResultsShown}}is-resultsshown{{else}}not-resultsshown{{/if}} {{#if options._isReviewComplete}}is-reviewed{{else}}not-reviewed{{/if}}">
		<button id="learnerassistant-revision" class="buttons-action" tabindex="0">Begin Revision</button>
		<button id="learnerassistant-next" class="buttons-action" tabindex="0">Next</button>
		<button id="learnerassistant-takequiz" class="buttons-action" tabindex="0">Take Quiz</button>
	</div>
</div>