<div class="la-certificate-inner block-inner">
	<div class="la-content-container">
		
		<div class="begin-instructions">
			<div class="begin-instructions-inner">
				<h4 class="title">{{{_learnerassistant._certificate.title}}}</h4>
				<div class="body"><span class="score">{{{_learnerassistant._certificate.youScored}}} {{{_state._assessmentScoreAsPercent}}}</span>{{{_learnerassistant._certificate.body}}}</div>
			</div>
		</div>
	
		<div class="la-content">
			<div class="certificateLaunch component">
				<div class="wrapper">
					<div class='wrapper'>
						<div id="image-container" class="image-container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>